<div class="container">
    <div class="progress progress-bar-vertical">
      <div class="progress-bar  progress-bar-striped" role="progressbar" 
      [style.height.%]="alphaValue" aria-valuemin="0" aria-valuemax="100">
      <mat-icon svgIcon="gralpha" color="accent"></mat-icon>
      </div>
    </div>
     <div class="progress progress-bar-vertical">
      <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" 
      [style.height.%]="bravoValue" aria-valuemin="0" aria-valuemax="100">
      <mat-icon svgIcon="grbeta" color="accent"></mat-icon>
      </div>
    </div>
    <div class="progress progress-bar-vertical">
      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" 
      [style.height.%]="charlieValue" aria-valuemin="0" aria-valuemax="100">   
      <mat-icon svgIcon="grgamma" color="accent"></mat-icon>
      </div>
    </div>
  </div> 