<section class="var-section">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon svgIcon="grmu" color="accent"></mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          Executed #{{romeoExecuted}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div mdcFormField>
        <div mdcSwitch>
          <input mdcSwitchInput type="checkbox" [(ngModel)]="bridge.romeoEnabled" />
        </div>
      </div>
      <mat-slider *ngIf="bridge.romeoEnabled" [(ngModel)]="romeoAlpha" min="-1" max="1" [vertical]="true">
        </mat-slider>
        <div *ngIf="bridge.romeoEnabled" class="progress progress-bar-vertical">
          <div class="progress-bar  progress-bar-striped" role="progressbar" 
          [style.height.%]="50+romeoAlpha*50" aria-valuemin="0"
            aria-valuemax="100">
            <mat-icon svgIcon="gralpha" color="accent"></mat-icon>
          </div>
        </div>
        <mat-slider *ngIf="bridge.romeoEnabled" [(ngModel)]="romeoBravo" min="-1" max="1" [vertical]="true">
        </mat-slider>
        <div *ngIf="bridge.romeoEnabled" class="progress progress-bar-vertical">
          <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" 
          [style.height.%]="50+romeoBravo*50" aria-valuemin="0"
            aria-valuemax="100">
            <mat-icon svgIcon="grbeta" color="accent"></mat-icon>
          </div>
        </div>
        <mat-slider *ngIf="bridge.romeoEnabled" [(ngModel)]="romeoCharlie" min="-1" max="1" [vertical]="true">
        </mat-slider>
        <div *ngIf="bridge.romeoEnabled" class="progress progress-bar-vertical">
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" 
          [style.height.%]="50+romeoCharlie*50" aria-valuemin="0"
            aria-valuemax="100">
            <mat-icon svgIcon="grgamma" color="accent"></mat-icon>
          </div>
        </div>
        <br />
      <div mdcTextField [dense]="dense">
        <textarea spellcheck="false" mdcTextFieldInput (ngModelChange)="romeoChange($event)" color="primary" type="text" #input1="ngModel" [(ngModel)]="romeoContents"
          minlength="8" [disabled]="!bridge.editMode"rows="8" cols="40"></textarea>
        <label mdcTextFieldLabel>FuzzyScrip</label>
      </div>
      <br />
      <button mat-raised-button color="primary" (click)="insertRomeo()">Inject code from bubbles above</button>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon svgIcon="grphi" color="accent"></mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          Executed #{{sierraExecuted}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div mdcFormField>
        <div mdcSwitch>
          <input mdcSwitchInput type="checkbox" [(ngModel)]="bridge.sierraEnabled" />
        </div>
      </div>
      <mat-slider *ngIf="bridge.sierraEnabled" [(ngModel)]="sierraAlpha" min="-1" max="1" [vertical]="true">
      </mat-slider>
      
      <div *ngIf="bridge.sierraEnabled" class="progress progress-bar-vertical">
        <div class="progress-bar  progress-bar-striped" role="progressbar" 
        [style.height.%]="50+sierraAlpha*50" aria-valuemin="0"
          aria-valuemax="100">
          <mat-icon svgIcon="gralpha" color="accent"></mat-icon>
        </div>
      </div>
      <mat-slider *ngIf="bridge.sierraEnabled" [(ngModel)]="sierraBravo" min="-1" max="1" [vertical]="true">
      </mat-slider>
      <div *ngIf="bridge.sierraEnabled" class="progress progress-bar-vertical">
        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" 
        [style.height.%]="50+sierraBravo*50" aria-valuemin="0"
          aria-valuemax="100">
          <mat-icon svgIcon="grbeta" color="accent"></mat-icon>
        </div>
      </div>
      <mat-slider *ngIf="bridge.sierraEnabled" [(ngModel)]="sierraCharlie" min="-1" max="1" [vertical]="true">
      </mat-slider>
      <div *ngIf="bridge.sierraEnabled" class="progress progress-bar-vertical">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" 
        [style.height.%]="50+sierraCharlie*50" aria-valuemin="0"
          aria-valuemax="100">
          <mat-icon svgIcon="grgamma" color="accent"></mat-icon>
        </div>
      </div>
      <br />
      <div mdcTextField [dense]="dense">
        <textarea spellcheck="false" mdcTextFieldInput (ngModelChange)="sierraChange($event)" color="primary" type="text" #input1="ngModel" [(ngModel)]="sierraContents"
          minlength="8" [disabled]="!bridge.editMode" rows="8" cols="40"></textarea>
        <label mdcTextFieldLabel>FuzzyScrip</label>
      </div>
      <br />
      <button mat-raised-button (click)="insertSierra()">Inject code from bubbles above</button>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon svgIcon="grrho" color="accent"></mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          Executed #{{tangoExecuted}}
          
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div mdcFormField>
        <div mdcSwitch>
          <input mdcSwitchInput type="checkbox" [(ngModel)]="bridge.tangoEnabled" />
        </div>
      </div>
      <mat-slider *ngIf="bridge.tangoEnabled" [(ngModel)]="tangoAlpha" (change)="tangoAlphaChange($event)" min="-1" max="1" [vertical]="true">
        </mat-slider>
        <div *ngIf="bridge.tangoEnabled" class="progress progress-bar-vertical">
          <div class="progress-bar  progress-bar-striped" role="progressbar" 
          [style.height.%]="50+tangoAlpha*50" aria-valuemin="0"
            aria-valuemax="100">
            <mat-icon svgIcon="gralpha" color="accent"></mat-icon>
          </div>
        </div>
        <mat-slider *ngIf="bridge.tangoEnabled" [(ngModel)]="tangoBravo" min="-1" max="1" [vertical]="true">
        </mat-slider>
        <div *ngIf="bridge.tangoEnabled" class="progress progress-bar-vertical">
          <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" 
          [style.height.%]="50+tangoBravo*50" aria-valuemin="0"
            aria-valuemax="100">
            <mat-icon svgIcon="grbeta" color="accent"></mat-icon>
          </div>
        </div>
        <mat-slider *ngIf="bridge.tangoEnabled" [(ngModel)]="tangoCharlie" min="-1" max="1" [vertical]="true">
        </mat-slider>
        <div *ngIf="bridge.tangoEnabled" class="progress progress-bar-vertical">
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" 
          [style.height.%]="50+tangoCharlie*50" aria-valuemin="0"
            aria-valuemax="100">
            <mat-icon svgIcon="grgamma" color="accent"></mat-icon>
          </div>
        </div>
        <br />
      <div mdcTextField [dense]="dense">
        <textarea spellcheck="false" mdcTextFieldInput (ngModelChange)="tangoChange($event)" color="primary" type="text" #input1="ngModel" [(ngModel)]="tangoContents"
          minlength="8" [disabled]="!bridge.editMode" rows="8" cols="40"></textarea>
        <label mdcTextFieldLabel>FuzzyScrip</label>
      </div>
      <br />
      <button mat-raised-button (click)="insertTango()">Inject code from bubbles above</button>
    </mat-expansion-panel>
  </mat-accordion>
</section>