<section class="hud-section">
  <table>
    <tr>
      <td>
        <mat-icon>open_with</mat-icon>
      </td>
      <td width="300">
        <mat-progress-bar [value]="size" [color]="color" [bufferValue]="buffer" [mode]="mode">
        </mat-progress-bar>
      </td>
    </tr>
    <tr>
      <td>
        <mat-icon>fast_forward</mat-icon>
      </td>
      <td width="300">
        <mat-progress-bar [value]="energy" [color]="color" [bufferValue]="buffer" [mode]="mode">
        </mat-progress-bar>
      </td>
    </tr>
    <tr>
      <td>
        <mat-icon>battery_charging_full</mat-icon>
      </td>
      <td width="300">
        <mat-progress-bar [value]="hunger" [color]="color" [bufferValue]="buffer" [mode]="mode">
        </mat-progress-bar>
      </td>
    </tr>
    <tr>
      <td>
        <mat-icon>accessibility</mat-icon>
      </td>
      <td width="300">
        <mat-progress-bar [value]="hp" [color]="color" [bufferValue]="buffer" [mode]="mode">
        </mat-progress-bar>
      </td>
    </tr>
  </table>
</section>