<div *ngIf="bridge.humanMode; then helpHuman else helpScrip"></div>
<ng-template #helpHuman >
    <pre>
       Tap to move the green fish. 
       Hold to sprint.
       Your energy depletes, so keep eating!
      </pre>
  </ng-template>
<ng-template #helpScrip >
  <mat-chip-list [selectable]="true">
    <mat-chip *ngFor="let chip of funcs" 
    [selected]="chip.selected" [selectable]="true" color="{{chip.color}}" 
    (click)="changeFunc(chip)"
    (selectionChange)="selectFunc($event)">
    {{chip.name}}
   </mat-chip>
  </mat-chip-list>
  <hr/>
  <mat-chip-list selectable="true">
    <mat-chip *ngFor="let chip of params" 
    [selected]="chip.selected" [selectable]="true" color="{{chip.color}}" 
    (click)="changeParam(chip)"
    (selectionChange)="selectParam($event)">
      {{chip.name}}
    </mat-chip>
  </mat-chip-list>
</ng-template>
