<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="example-fill-remaining-space"></span>
    <h1>{{title}}</h1>
    <span class="example-fill-remaining-space"></span>
    Score: {{bridge.focusedSize}} Best: {{bridge.bestSize}}
  </mat-toolbar-row>
  <mat-toolbar-row>

    <span class="example-fill-remaining-space"></span>
    <h3>{{subtitle}}</h3>
    <span class="example-fill-remaining-space"></span>
    <div mdcFormField>
      <div mdcSwitch>
        <input mdcSwitchInput type="checkbox" [(ngModel)]="bridge.humanMode" />
      </div>
      <label mdcFormFieldLabel>Fuzzy ({{bridge.humanMode ? 'Human' : 'Brain'}})</label>&nbsp;&nbsp;&nbsp;
      <div mdcSwitch>
        <input mdcSwitchInput type="checkbox" [(ngModel)]="bridge.editMode" (click)="switchEdit()" />
      </div>
      <label mdcFormFieldLabel>Editing: ({{bridge.editMode ? 'On' : 'Off'}})</label>
    </div>
    <button mat-raised-button color="primary" (click)="loadSmart()">Load Smart Queries</button>
    <button mat-raised-button color="primary" (click)="loadBasic()">Load Basic Queries</button>
    <span class="example-fill-remaining-space"></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-grid-list cols="5" rowHeight="160">
  <mat-grid-tile colspan="2">
    <hudpanel></hudpanel>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <varhud></varhud>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <helper></helper>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="5" rows="24" rowHeight="32">
  <mat-grid-tile colspan="3" rowspan="30">
    <gamebox style="align-self:flex-start"></gamebox>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2">
    <nav mdcTabBar style="align-self:flex-end">
      <a mdcTab (activate)="activate(0)" tabindex="0">Decide</a>
      <a mdcTab (activate)="activate(1)" tabindex="1">Query</a>
    </nav>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="25">

    <div *ngIf="activetab==0; then scripTemplate else varTemplate"></div>

    <ng-template #scripTemplate>
      <scripbox style="align-self:flex-start"></scripbox>
    </ng-template>

    <ng-template #varTemplate>
      <vartune style="align-self:flex-start"></vartune>
    </ng-template>
  </mat-grid-tile>
</mat-grid-list>