.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.flex-container > div {
    border-radius: 13px;
    border:5px solid rgb(0, 126, 199);
    padding: 3px; 
}
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  .example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
