

<section class="var-section">
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon svgIcon="gralpha" color="accent"></mat-icon>
            </mat-panel-title>
            <mat-panel-description>
                {{alphaValue}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div mdcTextField [dense]="dense">
              <textarea spellcheck="false" mdcTextFieldInput (ngModelChange)="alphaChange($event)" 
              color="primary" type="text" #input1="ngModel" 
              [(ngModel)]="alphaContents" minlength="8"
              [disabled]="!bridge.editMode" rows="8" cols="40"></textarea>
              <label mdcTextFieldLabel>FuzzyScrip</label>
          </div>  <br />
          <button mat-raised-button (click)="insertAlpha()">Inject code from bubbles above</button>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <mat-icon svgIcon="grbeta" color="accent"></mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                  {{bravoValue}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div mdcTextField [dense]="dense">
                <textarea spellcheck="false" mdcTextFieldInput (ngModelChange)="bravoChange($event)" 
                color="primary" type="text" #input1="ngModel" 
                [(ngModel)]="bravoContents" minlength="8" 
                [disabled]="!bridge.editMode" rows="8" cols="40"></textarea>
                <label mdcTextFieldLabel>FuzzyScrip</label>
            </div>  <br />
            <button mat-raised-button (click)="insertBravo()">Inject code from bubbles above</button>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <mat-icon svgIcon="grgamma" color="accent"></mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                  {{charlieValue}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div mdcTextField [dense]="dense">
                <textarea spellcheck="false" mdcTextFieldInput (ngModelChange)="charlieChange($event)" 
                color="primary" type="text" #input1="ngModel" 
                [(ngModel)]="charlieContents" minlength="8" 
                [disabled]="!bridge.editMode" rows="8" cols="40"></textarea>
                <label mdcTextFieldLabel>FuzzyScrip</label>
            </div>  <br />
            <button mat-raised-button (click)="insertCharlie()">Inject code from bubbles above</button>
        </mat-expansion-panel>
      </mat-accordion>
</section> 