
   html,
   body {
       background-image: url("assets/bgthin.jpg");
       background-repeat: repeat-x;
       font-size: 15px;
       color: #cdcdcd;
       width: 100%;
       padding: 0;
       margin-left: 0;
       margin-right: 0;
       font-family: 'roboto', sans-serif;
       font-weight: 300;
   }
   h1,
   h2,
   h3 {
       font-weight: 300;
       margin: 0;
   }
   h4,
   h5 {
       font-family: 'latoheavy';
       font-weight: 300;
       margin: 0;
       line-height: 2rem;
   }
   h1 {
       font-size: 3rem;
       line-height: 4rem;
       font-weight: 300;
   }
   h2 {
       font-size: 2.5rem;
       line-height: 3rem;
       margin-bottom: .9rem;
   }
   h3 {
       font-weight: 300;
       margin-bottom: .9rem;
       font-size: 2.1rem;
       line-height: 2.5rem;
   }
   h4 {
       font-size: 1.6rem;
       line-height: 2.2rem;
       margin-bottom: 1.1rem;
   }
   h5 {
       font-size: 1.3rem;
       margin-bottom: 1rem;
   }
   h6 {
       font-size: 1rem;
       margin-bottom: .9rem;
   }
   
