@import '~@angular/material/theming';
@include mat-core();

  $primary: mat-palette($mat-blue,200);
  $accent: mat-palette($mat-orange,200);

  $theme: mat-dark-theme($primary, $accent);

@include angular-material-theme($theme);
$mdc-theme-primary: #facaca;
$mdc-theme-accent: #ff0000;
$mdc-theme-secondary: #00e877;
$mdc-theme-background: #003333;
@import "material-components-web/material-components-web";


// import theming for all mdc components:
body {
    background-image: url("assets/bgthin.jpg");
    background-repeat: repeat-x; 
    font-family: monaco, Consolas, "Lucida Console";
    font-size: 15px;
    background-color: #888888;
    background-color: var(--mdc-theme-background);
    color:#ffffff;
    color: var(--mdc-theme-primary);
}
.mat-toolbar h1 {
    font-size: 28px;
    color:#662222;
}

.mdc-form-field {
    background-color: #90caf9;
    
    font-size: 22px;
    color:#662222;
}

.mat-chip {
    padding: 5px 9px;
}
.mdc-switch__native-control {
    width:90px;
    height:90px;
    left:-30px;
    top:-30px;
}
.mdc-switch__knob {
    width:40px;
    height:40px;
    top:-6px;
}
.mdcFormFieldLabel {
    font-size: 32px;
}
.mdc-tab {

    background-color: var(--mdc-theme-background);
    color:#ffffff;
    color: var(--mdc-theme-primary);
}
.mdc-tab-bar__indicator {

    background-color: #662222;
    color:#ffffff;
    color: var(--mdc-theme-primary);
}
.mdc-tab:hover {
    background-color: var(--mdc-theme-background);
    color:#662222;

}


.mdc-text-field__input {
    background-color: #000000;
    color:#ffffff;
}
.mdc-text-field--textarea .mdc-text-field__input {
    border-color:#662222;
    font-family: monaco, Consolas, "Lucida Console";
    border:2px solid;
}
.mdc-text-field--textarea .mdc-text-field__label {
    background-color: #662222;
    background-color: var(--mdc-theme-background);
   
    color:#ffffff;
    color: var(--mdc-theme-primary);
}

.mdc-text-field--disabled .mdc-text-field__input {
    color:#777777;
}
.mdc-text-field--textarea.mdc-text-field--disabled .mdc-text-field__label {
    background-color: #ff6622;
    color:#000000;
}
.mat-icon {
    display:inline-block;
}
.mat-figure {
    vertical-align: top;
}
.mat-expansion-panel {
    background: #003333;
    color:#cafafa;
}
.mat-progress-bar {
    height:30px;
}
.mat-progress-bar-buffer {
    background: #003333;
    color:#cafafa;
}


progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
.progress {
  height: 40px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #151515;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
       -o-transition: width .6s ease;
          transition: width .6s ease;
}
.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
          background-size: 40px 40px;
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.progress-bar-vertical {
  width: 40px;
  min-height: 100px;
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
  float: left;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}
